/* style.css - 自訂樣式 */
body.bg-light {
  min-height: 100vh;
  padding-bottom: 3rem;
}

/* 提示 alert 動畫效果 */
.alert {
  transition: all 0.3s ease-in-out;
}

/* 表格垂直置中對齊 */
table td, table th {
  vertical-align: middle;
}

/* 使用者列上方工具列樣式（logs.html） */
.header-toolbar {
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
}

.table-date{
  min-width: 120px;
}

.table-two{
  min-width: 80px;
}

.table-three{
  min-width: 100px;
}

.table-four{
  min-width: 125px;
}

.logModalHint{
  margin-left: 0.5rem;
  padding-bottom: 0.3rem;
  color: #734e27;
  border-bottom: 1px solid #dee2e6;
}

td:first-child,
th:first-child {
  position: sticky;
  left: 0;
  background: white;
  z-index: 2;
}